body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    /*align-items: center;*/

    background: url(/pictures/Header.png) center top no-repeat, url(/pictures/Footer.png) center bottom no-repeat;
    background-size:  contain, contain;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    margin-left: 92px;
}
.title{
    width: 410.961px;
height: 27.539px;
flex-shrink: 0;
}
.textImg {
    max-width: 100%;
    height: auto;
}

.form {
    display: flex;
    width: 452px;
    padding: 32px 24px;
    margin-right: 72px ;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: -2px -2px 85px 0px rgba(87, 54, 157, 0.16), 2px 2px 88px 0px rgba(87, 54, 157, 0.02);
}

.formHeader {
    color: var(--Text-Colour-Black-High-Emphasis, rgba(0, 0, 0, 0.87));
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
}

.inputBox {
    display: flex;
    width: 404px;
    flex-direction: column;
    align-items: flex-start;
}
.textBox {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 109px;
    align-self: stretch;

    border-radius: 4px;
    border: 1px solid var(--Serendipity-Montessori-Main, #56369D);
    background: var(--Neutral-Surface-Main, #FFF);
}

/*Checkbox styling starts*/ 
.oneLine {
    display: flex;
    width: 404px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    width: 24px;

    background-color: #fff;
    cursor: pointer;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: #56369D;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
label{
    color: var(--Text-Black-Medium-Emphasis, rgba(0, 0, 0, 0.60));
    text-align: left;
    
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;

    /* SM/Title/Small */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.1px;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 15px;
    color: #56369D; /* Colour of Tick*/
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #cbc0e3;
}
input[type="checkbox"]:checked {
    background-color: #ded5f3;
}

input[type="checkbox"]:checked:after {
    display: block;
}
/*Checkbox styling ends*/

.btn {
    display: flex;
    width: 404px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #57369D;

    color: #FFF;
    /* SM/Title/Medium */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}

.btn:hover {
    background-color: #662ee1;
}

.a1 {
    color: var(--Serendipity-Montessori-Main, #56369D);
text-align: right;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
}

.a2 {
    width: 404px;
    color: var(--Serendipity-Montessori-Main, #56369D);
text-align: center;

/* SM/Title/Small */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.1px;
}
.t1{
    color: var(--Text-Colour-Black-High-Emphasis, rgba(0, 0, 0, 0.87));
text-align: center;

/* SM/Title/Small */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.1px;
}


@media screen and (min-width: 915px) and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin: 10px;
        padding: 50px;
        width: 100%;
    }

    .pic {
        margin-bottom: 0;
        padding: 0;
    }

    .form {
        padding-top: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 915px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 10px;
        padding: 5px;
        width: 100%;
    }

    .pic {
        margin-bottom: 0;
        padding: 20px;
    }

    .form {
        display: flex;
    width: 350px;
    padding: 5px 0px;
    }
    .inputBox {
        width: 250px;
    }
    .oneLine {
        width: 250px;
        margin: 0;
        padding: 0;
    }
    .wrapper{
        width: 120px;
    }

    input[type="checkbox"]{
        height: 15px;
        width: 15px;
    }
    label{
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
    }
    input[type="checkbox"]:after {
        font-weight: 800;
        font-size: 10px;
    }
    .btn {
        width: 250px;
        padding: 12px 16px;
    }
    .a1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px; 
    }
}

